<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Change Request</title>
  </head>
  <body>
    <center>
      <img src="https://res.cloudinary.com/daqxhckof/image/upload/v1717578539/turk-compass/turks_pgmiqi.png"  width="100px"></img>
    <p style="font-size:20px;"><b>Turk's Compass <%= lang == "en" ? "Password Reset Code"  :"şifre sıfırlama kodu" %></b></p></center>
    <br>
    <p>Hello <%= name %></p>
    <p><%= lang == "en" ? "A password reset for the account with username" : "Kullanıcı adı olan hesap için parola sıfırlama" %>: <%= name %> <%= lang == "en" ? "has been requested at" : "İstek Tarihi" %> <%= date %></p>

    <p><%= lang == "en" ? "Your Code":"senin kodun" %> : <%= code %></p>
    <br>
       </p>
  </body>
</html>